<div style="text-align: left; box-sizing: border-box; padding: 20px;">
  <p>
    home-component works!
  </p>
  <p> This is the homepage for this thing where you can do some stuff 
    Like adding stuff and Looking at stuff and editing some stuff but 
    I don't think we actually need to delete stuff so I'm not gonna worry
    about that stuff. Instead I'm gonna put some copypasta in here to
    make it look like I actually typed some garbage.
  </p>
  <p>Basically to work out the opponent's knockback:
      you need to work out the frequency of oscillations of the first harmonic of a diamond sword being vibrated perpendicular to the hand of the pvper (in Hz of course, we're not animals here.)
      Then you need to determine the wave-function and by using that, calculate using Planck's Constant (E=hf) to determine the energy of each hit (remember, f=c/I so substitute that in). When you're done with that you can then proceed to calculate the kinetic energy of each individual air molecule that the minecraft hit resonates through and therefore the reach distance and velocity the opponent will travel.
      However this is USELESS without impulse and momentum calculations, so you better do those just to double check and then triple check.
      When that is complete, cross multiples, integrate by pi and hey presto, you've worked out the diameter of the moon.</p>
</div>
